body {
    background-color: black;
}

.eve {
    display: flex;
}

.first{
    background-color: rgb(22, 22, 22);
    width: 60px;
    height: 90px;
    border-radius: 10px;
    padding-top: 20px;
} 

.first > button {
    background-color: rgb(22, 22, 22);
    color: white;
    border: none;
    margin-left: 10px;
    margin-bottom: 30px;
    transition: color .25s;
}

.first > button:hover{
    color : #1BE1FF;
    cursor: pointer;
}

.second {
    background-color: rgb(22, 22, 22);
    color: white;
    width: 60px;
    height: 100vh;
    border-radius: 10px;
    padding-top: 20px;
    margin-top: 5px;
}

.second > i {
    margin-left: 16px;
    margin-bottom: 40px;
    transition : color .5s;
}

.second > i:hover {
    color: #6400CE;
    cursor: pointer;
}


.main {
    background: linear-gradient(rgba(1, 139, 160, 0.9) 0%,#6400ce79 30%,rgba(22, 22, 22, 0.736) 45%);            
    margin-left: 5px;
    width: 95vw;
    border-radius: 10px;
    background-attachment: fixed;
}


.top{
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

.top button {
    background-color: #00000078;
    color: white;
    border: none;
    padding: 13px;
    border-radius: 40px;
    margin: 3px;
    transition: .35s;
    position: sticky;
}

.top button:hover {
    background-color: #242424bc;
    cursor: pointer;
    position: sticky;
}

