.main_lib{
    background: linear-gradient(135deg, #3e2723, #38241f, #32211b, #2c1e17, #261a13);

















    margin-left: 5px;
    width: 95vw;
    border-radius: 10px;
    background-attachment: fixed;
}
